<!DOCTYPE html>
<html>
  <head>
    <title>Clockwork</title>
    <meta name="description" content="a different way to think of time">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <div id="hour">
        <div id="minutes">
          <div id="timeContainer">
            <h1 id="time"></h1>
            <h3 id="secondCounter"></h3>
          </div>
          <div id="seconds"></div>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>
